a.disabled:visited {
    color: white;
    text-decoration: none;
}

a.disabled:link {
    color: white;
    text-decoration: none;
  }

.disabledU:visited {
    color: black;
    text-decoration: none;
}

.disabledU:link {
    color: black;
    text-decoration: none;
  }

.borderino{
  border:2px solid rgb(67, 60, 54);
}

.square {
  object-fit: cover;
  width:293px;
  height:293px;
}