/* body {
    font-family: Arial, Helvetica, sans-serif;
    position: center;
} */

form {
    border: 3px solid #f1f1f1;
}

input[type=file], input[type=text], .cate, .brand {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttonRed{
    background-color: rgb(236, 42, 42);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid black 1px;
    cursor: pointer;
    width: 100%;
    font-weight: bold
}

.buttonRed:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

#interesse, #sesso{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.labelB{
    font-weight: bold;
}
.buttonTag{
    background-color: rgb(236, 42, 42);
    color: black;
    /* padding: 14px 20px; */
    /* margin-top: 50%;
    margin-bottom: 50%; */
    /* border: solid black 1px; */
    cursor: pointer;
    /* width: 100%; */
    font-weight: bold;
    height: 78%;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}